@media (min-width : 992px) AND (max-width : 1199px) {
    .countdown-container {
        
        &:not(:last-of-type):after {
            left: 105px !important;
        }
    }
}

@media (min-width : 768px) AND (max-width : 991px) {
    .countdown-container {
        
        &:not(:last-of-type):after {
            left: 85px !important;
            width: 8rem !important;
        }
    }
}

@media (max-width : 767px) {
    .countdown-container {
        
        &:not(:last-of-type):after {
            display: none !important;
        }
    }
}

@media (min-width: 768px) {

}

@media (min-width: 768px) AND (max-width: 991px) {

}

@media (max-width: 991px) {

}

@media (max-width: 767px) {
  
}
