// import css files 

@import "general";
@import "framework";
@import "responsive";

.content {
    
    .scene {

        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        pointer-events: none;
        z-index: 1;
        
        path {
            fill: #4fa24f;
        }
    }
}

// #1 - counter section

#counter-section {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    color: #fff;
    z-index: 99;
    color: #fff;
    min-height: 100vh;
    padding-top: 6rem,;
    padding-bottom: 6rem;
    opacity: 1;
    @include transition(all, 0.3s);

  // logo

  .logo-box {
    text-align: center;
    margin-bottom: 6rem;

    .logo {
      width: 16rem;
    }
  }

  // menu 
  // .menu {
  //   position: fixed;
  //   right: 6rem;
  //   top: 6rem;
  //   z-index: 5;

  //   .menu-icon {
  //     @extend %menu-icon;
  //   }

  //   .icon {
  //     a {
  //       padding: 25px;
  //     }
  //   }

  // }

  // nav 

  .nav {

    position: fixed;
    top: 6.5rem;
    right: 11.5rem;
    z-index: 3;

    .icon-target {
      width: 5rem;
      height: 5rem;
      border-radius: 100%;
      position: absolute;
      @include scale(0);
      @include transition(all, 0.5s, cubic-bezier(0.86, 0, 0.07, 1));

      &.active {
        @include scale(80);
      }

      &#info-sec {
        background-image: radial-gradient(#7ed56f, #28b485);
      }

      &#our-work-sec {
        background-image: radial-gradient(#06bebe, #1657b9);
      }

      &#contact-us-sec {
        background-image: radial-gradient(#ce0a58, #f88db1);
      }

    }
  }

  // content 

  .content-txt {
    text-align: center;

    .content__main-heading {
      font-size: 5.2rem;
      margin-top: 2rem;
      margin-bottom: 4rem;
      font-weight: bold;
    }
  }

  // counter 
  .counter .countdown {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 4rem;
      
    @media all and (max-width: 500px) {
        flex-direction: column;
    }

    .countdown-container {
      position: relative;

      .countdown-heading {
        font-size: 7rem;
        letter-spacing: 0.2rem;
        font-family: 'Iceberg', cursive;
        
        &.seconds-top {
          animation: fade-animate-seconds 1s infinite;
        }

      }

      .countdown-value {
        font-size: 1.6rem;
        color: #dddddd
      }
        
      &.days {
          display: flex;
          justify-content: center;
          align-items: center;
        }
    }

    @keyframes fade-animate-seconds {
      0%  {opacity: 0;}
      30% {opacity: 1;}
      100%  {opacity: 1;}
    }

    .countdown-container > span  {
      display: block;
    }
  }

  // more buttons 
  
  .more-buttons {
    text-align: center;
    margin-bottom: 4rem;

    .button {
      padding: 15px 30px;
      border: none;
      background: #fff;
      color: #777;
      font-size: 1.4rem;
      font-weight: bold;
      letter-spacing: 0.1rem;
      text-transform: uppercase;
      position: relative;
      z-index: 1;
      @include border-radius(3px);
      @include shadow(0 10px 20px rgba(0, 0, 0, 0.3));
      @include transition(all, 0.2s);

      &.more-info {
        margin-right: 0.5rem;
        margin-bottom: 2rem;
      }

      &.notify-me {
        margin-left: 0.5rem;
      }

      &:hover {
        @include shadow(0 6px 20px rgba(0, 0, 0, 0.3));
        background: #272927;
        color: #fff;
      }
      
      &.active {
        background: #272927;
        color: #fff;
      }

    }

  }

    // copy write
    .copy-write {
        position: absolute;
        left: 30px;
        bottom: 30px;
        font-size: 1.6rem;
        align-items: center;

        p {
            margin: 0;
        }
    }

    // social media

    .social {

        display: flex;
        justify-content: space-between;
        width: 14rem;
        position: absolute;
        bottom: 30px;
        right: 30px;

        .icon {

            a {
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                font-size: 1.6rem;
                width: 4rem;
                height: 4rem;
                background: #fff;
                color: #777;
                border-radius: 100%;
                cursor: pointer;
                border: 2px solid #fff;
                z-index: 1;
                @include transition(top, 0.3s);

                &:hover {
                    background: transparent;
                    color: #fff;
                }

                &::after {
                    content: '';
                    display: block;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    @include border-radius(100%);
                    top: 0;
                    left: 0;
                    background: #fff;
                    opacity: 1;
                    z-index: -1;
                    transition: transform 0.2s, opacity 0.3s;
                    @include scale(1);
                }

                &:hover::after {
                    @include scale(1.4);
                    opacity: 0;
                }
            }
        }
    }


  // form

  // #subscribe-form {
  //   .form-g {
  //     position: relative;

  //     // form input
  //     input[type=text] {
  //       border-radius: 3rem;
  //       border: none;
  //       padding: 1rem;
  //       color: #777;
  //       font-size: 2rem;
  //       font-family: sans-serif;
  //       width: 400px;
  //       display: block;
  //       margin: auto;
  //     }

  //     // form send 
  //     input[type="submit"] {
  //       color: #fff;
  //       height: 40px;
  //       margin-top: 4px;
  //       border: none;
  //       border-radius: 3rem;
  //       font-weight: bold;
  //       font-size: 1.6rem;
  //       position: absolute;
  //       top: 0;
  //       right: 375px;

  //       @extend %main-background;
  //     }
  //   }
  // }

  // // sections content
  // .sections {
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   right: 0;
  //   width: 100%;
  //   padding: 3rem;
  //   padding-top: 8rem;
  //   padding-bottom: 8rem;

  //   .section {
  //     opacity: 0;
  //     visibility: hidden;
  //     position: absolute;
  //     @include transition(all, 0.3s, ease, 0.2s);

  //     .logo-box {
  //       margin-bottom: 4rem;
  //     }

  //     .heading {
  //       text-align: center;
  //     }

  //     // &#info-sec-content {

  //     // }
  //     // &#our-work-sec-content {

  //     // }
  //     // &#contact-us-sec-content {

  //     // }

  //     &.active {
  //       opacity: 1;
  //       visibility: visible;
  //       z-index: 4;
  //       position: absolute;
  //       width: calc(100% - 60px);
  //     }

  //   }
  // }
    
//    &.sec-hide {
//        top: -10px;
//        opacity: 0;
//    }
}

// #2 - notify section

#notify-form-section {
    
    max-width: 400px;
    min-width: 300px;
    height: 423px;
    background: #fff;
    z-index: 1400;
    position: fixed;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    visibility: hidden;
    @include transition(all, 0.3s);
    
    .cancel-icon-holder {
        position: relative;
        color: #fff;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        
        .cancel-button {
            
            font-size: 2rem;
            background: #373a37;
            border: none;
            
            &:hover {
                background: #272927;
                
            }
            
            .cancel-icon {

            }
        }
        
    }
    
    .notify-body {
        
        padding: 30px 15px 30px 15px;
        
        .notify-icon {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 6rem;
        }

        .notify-txt {
            text-align: center;
            
            p {
                font-size: 1.6rem;
                color: #777;
            }
        }

        #notify-form {
                        
            #notify-email {
                text-align: center;
                display: block;
                width: 80%;
                margin: auto;
                padding: 15px 30px;
                margin-bottom: 1rem;
                font-size: 1.6rem;
                border: none;
                background: #e2e2e2;
            }
            
            .notify-submit {
                @extend #notify-email;
                background: #373a37;
                color: #fff;
                font-size: 1.4rem;
                font-weight: bold;
                letter-spacing: 0.1rem;
                text-transform: uppercase;
                
                &:hover {
                    background: #272927;
                    
                }
                
            }
        }
    }
    
    &.show {
        top: 50%;
    }
    
}

// #3 more ifno section 

#more-info-section {
    width: calc(100% - 60px);
    height: calc(100% - 60px);
    z-index: 999;
    position: absolute;
    top: 30px;
    left: 30px;
    background: #fff;
    overflow-y: auto;
    @include transition(all, 0.3s);
    opacity: 0;
    visibility: hidden;
    padding: 6rem 2rem;
    
    .cancel-icon-holder {
        position: absolute;
        top: 0;
        right: 0;
        color: #fff;
        
        .cancel-button {
            
            font-size: 2rem;
            background: #373a37;
            border: none;
            
            &:hover {
                background: #272927;
                
            }
            
            .cancel-icon {

            }
        }
        
    }
    
    .more-info-txt {
        margin-bottom: 4rem;
    }
    
    .more-info-gallay {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 80%;
        margin: auto;
        
        @media all and (max-width: 767px) {
            width: 100%;
        }
        
        a {
            width: 50%;
        }
        
        img {
            max-width: 100%;
            border: 1px solid #eee;
        }
    }
    
    .contact-us {
        margin-top: 4rem;
        
        .contact-us-txt {
            
            .lead {
                margin-bottom: 10px;
            }
        }
        
        #contact-form {
            
            .form-group {
                
                .form-control  {
                    
                    &::placeholder {
                        color: #333333;
                    }  
                }
                
                .form-control-custom {
                    border: none;
                    box-shadow: none;
                    border-bottom: 2px solid #333333;
                    font-size: 1.4rem;
                    font-weight: bold;
                    letter-spacing: 0.1rem;
                    text-transform: uppercase;
                }
                
                input {
                    
                }
                
                textarea {
                    resize: vertical;
                }
                
                .btn-custom {
                    padding: 15px 30px;
                    border: none;
                    background: #373a37;
                    color: #fff;
                    font-size: 1.4rem;
                    font-weight: bold;
                    letter-spacing: 0.1rem;
                    text-transform: uppercase;
                    
                    &:hover {
                        background: #272927;
                    }
                }
            }
        }
    }
}
