// import css files 

@import "general";
@import "framework";
@import "responsive";

#counter-section {
  @extend %main-background;
  color: #fff;
  min-height: 100vh;
  padding-top: 4rem,;
  padding-bottom: 4rem;

  // logo

  .logo-box {
    text-align: center;
    margin-bottom: 2rem;

    .logo {
      width: 12rem;
    }
  }

  // menu 
  .menu {
    position: fixed;
    right: 6rem;
    top: 6rem;
    z-index: 5;

    .menu-icon {
      @extend %menu-icon;
    }

    .icon {
      a {
        padding: 25px;
      }
    }

  }

  // nav 

  .nav {

    position: fixed;
    top: 6.5rem;
    right: 11.5rem;
    z-index: 3;

    .icon-target {
      width: 5rem;
      height: 5rem;
      border-radius: 100%;
      position: absolute;
      @include scale(0);
      @include transition(all, 0.5s, cubic-bezier(0.86, 0, 0.07, 1));

      &.active {
        @include scale(80);
      }

      &#info-sec {
        background-image: radial-gradient(#7ed56f, #28b485);
      }

      &#our-work-sec {
        background-image: radial-gradient(#06bebe, #1657b9);
      }

      &#contact-us-sec {
        background-image: radial-gradient(#ce0a58, #f88db1);
      }

    }
  }

  // content 

  .content {
    text-align: center;

    .content__main-heading {
      font-size: 5.2rem;
      margin-top: 2rem;
      margin-bottom: 4rem;
      font-weight: bold;
    }

    .content__main-text {
      font-size: 2rem;
      margin-top: 0;
      margin-bottom: 2rem;
    }
  }

  // counter 
  .counter .countdown {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 4rem;

    .countdown-container {
      position: relative;

      .countdown-heading {
        font-size: 7rem;
        letter-spacing: 0.2rem;
        font-family: 'Iceberg', cursive;
      }

      .countdown-value {
        font-size: 1.6rem;
        color: #dddddd
      }

      &:not(:last-of-type):after {
        content: '';
        display: block;
        position: absolute;
        left: 160%;
        top: 50%;
        transform: translateY(-50%);
        background-color: #777;
        height: 0.2rem;
        width: 10rem;
      }
    }

    .countdown-container > span  {
      display: block;
    }
  }

  // more buttons 
  
  .more-buttons {
    text-align: center;
    margin-bottom: 4rem;

    .button {
      padding: 10px 20px;
      border: none;
      background: #fff;
      color: #777;
      font-size: 2rem;
      position: relative;
      z-index: 1;
      @include border-radius(3px);
      @include shadow(0 10px 20px rgba(0, 0, 0, 0.3));
      @include transition(box-shadow, 0.3s);

      &.more-info {
        margin-right: 0.5rem;
        margin-bottom: 2rem;
      }

      &.notify-me {
        margin-left: 0.5rem;
      }

      &:hover {
        @include shadow(0 6px 20px rgba(0, 0, 0, 0.3));
        background: #fdfdfd;
      }

    }

  }

  // social media

  .social {

    display: flex;
    max-width: 20rem;
    margin: auto;
    justify-content: space-between;

    .icon {

      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 6rem;
      height: 6rem;
      background: #fff;
      color: #777;
      border-radius: 100%;
      cursor: pointer;
      border: 2px solid #fff;
      z-index: 1;
      @include transition(top, 0.3s);

      &:hover {
        background: transparent;
        color: #fff;
      }

      &::after {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        @include border-radius(100%);
        top: 0;
        left: 0;
        background: #fff;
        opacity: 1;
        z-index: -1;
        transition: transform 0.2s, opacity 0.3s;
        @include scale(1);
      }

      &:hover::after {
        @include scale(1.4);
        opacity: 0;
      }

      a {
        padding: 25px;
      }
    }

  }

  // form

  // #subscribe-form {
  //   .form-g {
  //     position: relative;

  //     // form input
  //     input[type=text] {
  //       border-radius: 3rem;
  //       border: none;
  //       padding: 1rem;
  //       color: #777;
  //       font-size: 2rem;
  //       font-family: sans-serif;
  //       width: 400px;
  //       display: block;
  //       margin: auto;
  //     }

  //     // form send 
  //     input[type="submit"] {
  //       color: #fff;
  //       height: 40px;
  //       margin-top: 4px;
  //       border: none;
  //       border-radius: 3rem;
  //       font-weight: bold;
  //       font-size: 1.6rem;
  //       position: absolute;
  //       top: 0;
  //       right: 375px;

  //       @extend %main-background;
  //     }
  //   }
  // }

  // // sections content
  // .sections {
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   right: 0;
  //   width: 100%;
  //   padding: 3rem;
  //   padding-top: 8rem;
  //   padding-bottom: 8rem;

  //   .section {
  //     opacity: 0;
  //     visibility: hidden;
  //     position: absolute;
  //     @include transition(all, 0.3s, ease, 0.2s);

  //     .logo-box {
  //       margin-bottom: 4rem;
  //     }

  //     .heading {
  //       text-align: center;
  //     }

  //     // &#info-sec-content {

  //     // }
  //     // &#our-work-sec-content {

  //     // }
  //     // &#contact-us-sec-content {

  //     // }

  //     &.active {
  //       opacity: 1;
  //       visibility: visible;
  //       z-index: 4;
  //       position: absolute;
  //       width: calc(100% - 60px);
  //     }

  //   }
  // }
}
